*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  color: #7b88a8;
  line-height: 1;
  text-transform: capitalize;
  overflow-x: hidden;
  font-weight: 400;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  all: unset;
  color: white;
  border-radius: 5px;
  background-color: #4f77ff;
  cursor: pointer;
  font-size: 15px;
  line-height: 1.6;
  text-transform: uppercase;
  font-family: "Outfit";
  font-weight: 500;
  letter-spacing: -0.3px;
  display: inline-block;
  width: fit-content;
}
@media screen and (max-width: 767.98px) {
  .button {
    font-size: 13px !important;
    padding: 13px 12px !important;
  }
}
@media screen and (max-width: 320.98px) {
  .button {
    padding: 9px 8px !important;
  }
}

.heading {
  color: #2d3958;
  font-weight: 500;
  font-family: "Outfit";
}
.heading--biggest {
  font-size: 72px !important;
  line-height: 1.0833333333 !important;
}
.heading--bigger {
  font-size: 64px !important;
  line-height: 1.125 !important;
}
.heading--big {
  font-size: 48px !important;
  line-height: 1.1666666667 !important;
}
.heading--large {
  font-size: 42px;
  line-height: 1.3888888889 !important;
}
.heading--normal {
  font-size: 36px !important;
  line-height: 1.2777777778 !important;
}
.heading--medium {
  font-size: 22px !important;
  line-height: 1.4545454545 !important;
}
.heading--small {
  font-size: 18px !important;
  line-height: 1.5555555556 !important;
}
@media screen and (max-width: 767.98px) {
  .heading--biggest {
    font-size: 50px !important;
  }
  .heading--bigger {
    font-size: 46px !important;
  }
  .heading--big {
    font-size: 40px !important;
  }
  .heading--large {
    font-size: 36px !important;
  }
  .heading--normal {
    font-size: 32px !important;
  }
}

.text {
  font-size: 18px;
  line-height: 1.5555555556;
}
.text--small {
  font-size: 16px !important;
  line-height: 1.625 !important;
}
.text--xsmall {
  font-size: 14px !important;
  line-height: 1.7142857143 !important;
}
@media screen and (max-width: 767.98px) {
  .text {
    font-size: 16px !important;
  }
}

.header {
  background-color: #f7f5f1;
  padding: 16px 0 230px;
  position: relative;
}
.header-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-shapes {
  pointer-events: none;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-scroll {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}
.header-scroll-inner {
  border-radius: 100rem;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9c45c;
  animation: bounced 1.5s linear infinite alternate;
}
.header-tools {
  display: flex;
  align-items: center;
  gap: 25px;
}
.header-button {
  padding: 12px 39px;
  font-size: 14px;
  line-height: 1.7142857143;
  font-weight: 500;
}
@media screen and (max-width: 1023.98px) {
  .header {
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 400.98px) {
  .header-tools {
    gap: 20px;
  }
  .header-button {
    display: none;
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
}
.menu-link {
  display: block;
  text-transform: uppercase;
  color: #7b88a8;
  transition: all 0.3s;
}
.menu-link:hover {
  color: #2d3958;
}
.menu-toggle, .menu-close {
  display: none;
}
@media screen and (max-width: 1023.98px) {
  .menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    z-index: 20;
    background-color: #292f3a;
    flex-direction: column;
    align-items: stretch;
    padding: 60px 50px;
    gap: 10px;
    transition: all 0.2s linear;
    transform: translateX(100%);
  }
  .menu.active {
    transform: translateX(0%);
  }
  .menu-link {
    padding: 20px 0;
    color: white;
  }
  .menu-link:hover {
    color: #4f77ff;
  }
  .menu-toggle {
    display: block !important;
    font-size: 35px;
  }
  .menu-toggle span {
    cursor: pointer;
  }
  .menu-close {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 3%;
    right: 11%;
  }
  .menu-close span {
    font-size: 35px;
  }
}
@media screen and (max-width: 394.98px) {
  .menu {
    width: 260px;
    padding: 40px 30px;
  }
  .menu-toggle, .menu-close {
    font-size: 28px;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo span {
  color: #2d3958;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  font-family: "Outfit";
}

@keyframes bounced {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}
.hero {
  margin-top: 88px;
  position: relative;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-content {
  max-width: 770px;
  width: 100%;
}
.hero-heading {
  margin-bottom: 40px;
}
.hero-heading span {
  background: linear-gradient(91.79deg, #857FFF 32.21%, #FFC0EC 83.79%);
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.hero-desc {
  margin-bottom: 70px;
  max-width: 670px;
  width: 100%;
}
.hero-links {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero-started {
  padding: 15px 32px;
}
.hero-play {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 15px;
}
.hero-play-icon {
  border-radius: 100rem;
  width: 52px;
  height: 52px;
  background-color: white;
  box-shadow: 0px 5px 20px rgba(18, 2, 47, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-play-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.6;
  color: #2d3958;
  text-transform: uppercase;
  letter-spacing: -0.3px;
  font-family: "Outfit";
}
@media screen and (max-width: 767.98px) {
  .hero {
    margin-top: 40px;
  }
  .hero-container {
    flex-direction: column;
    gap: 40px;
  }
  .hero-desc {
    margin-bottom: 40px;
  }
  .hero-play {
    font-size: 13px;
  }
  .hero-play-icon {
    width: 40px;
    height: 40px;
  }
  .hero-links {
    gap: 20px;
  }
}

.services {
  padding: 150px 0 120px;
}
.services-header {
  max-width: 990px;
  margin: 0 auto 80px;
}
.services-heading {
  text-align: center;
  font-size: 64px;
  line-height: 1.125;
  letter-spacing: -2px;
  margin: 0 auto 30px;
  max-width: 970px;
}
.services-caption {
  text-align: center;
  font-size: 18px;
  letter-spacing: -0.3px;
  line-height: 1.5555555556;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 30px;
  margin-bottom: 80px;
}
.services-item {
  padding: 50px 35px 60px 35px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border: 1px solid rgba(97, 119, 152, 0.2);
  border-radius: 20px;
  transition: all 0.3s ease;
}
.services-item:hover {
  box-shadow: 0px 20px 50px rgba(79, 119, 255, 0.2);
  border: transparent;
  transform: translateY(-10px) scale(1.03);
}
.services-title {
  font-weight: 400;
  font-size: 22px;
  font-family: "Outfit";
  line-height: 1.4545454545;
  color: #120f1f;
  margin: 22px 0 40px;
}
.services-desc {
  line-height: 1.625;
}
.services-link {
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1023.98px) {
  .services {
    padding: 80px 0;
  }
}
@media screen and (max-width: 767.98px) {
  .services-list {
    grid-template-columns: 1fr;
    margin-bottom: 60px;
  }
  .services-title {
    margin: 10px 0 20px;
  }
}

.logos {
  margin-bottom: 120px;
}
.logos-heading {
  text-align: center;
  margin-bottom: 80px;
}
.logos-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 767.98px) {
  .logos {
    padding-bottom: 80px;
    margin-bottom: 0;
  }
  .logos-heading {
    margin-bottom: 40px;
  }
  .logos-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}

.about {
  background-color: #f7f5f1;
  padding: 120px 0;
}
.about-heading {
  font-size: 48px;
  line-height: 1.1666666667;
  text-align: center;
  margin-bottom: 30px;
}
.about-caption {
  text-align: center;
  margin-bottom: 120px;
}
.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 150px;
  gap: 50px;
}
.about-content {
  max-width: 570px;
  width: 100%;
}
.about-content-heading {
  font-size: 36px;
  line-height: 1.2777777778;
  margin-bottom: 30px;
}
.about-content-captions {
  margin-bottom: 50px;
}
.about-content-caption, .about-content-desc {
  font-size: 18px;
  line-height: 1.5555555556;
}
.about-content-caption {
  display: block;
  margin-bottom: 35px;
}
.about-content-desc {
  margin-bottom: 70px;
}
.about-content-link {
  padding: 15px 32px;
}
.about-content-list {
  max-width: 469px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about-content-item {
  display: flex;
  align-items: flex-start;
  gap: 13px;
}
.about-content-item-right-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5555555556;
  margin-bottom: 10px;
}
.about-content-item-right-desc {
  font-size: 16px;
  line-height: 1.625;
}
@media screen and (max-width: 767.98px) {
  .about {
    padding: 50px 0;
  }
  .about-caption {
    margin-bottom: 50px;
  }
  .about-section {
    flex-direction: column;
    width: 100%;
    gap: 60px;
    margin-bottom: 50px;
  }
  .about-section:nth-child(3) {
    flex-direction: column-reverse;
  }
  .about-section:nth-child(2) {
    margin-bottom: 0;
  }
  .about-content-desc {
    margin-bottom: 50px;
  }
}

.portfolio {
  padding: 120px 0;
}
.portfolio-heading {
  text-align: center;
  max-width: 970px;
  margin: 0 auto 100px;
}
.portfolio-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #4f77ff;
  font-size: 22px;
  line-height: 1.4545454545;
}
.portfolio-item:first-child {
  grid-column: 1/span 7;
}
.portfolio-item:nth-child(2) {
  grid-column: 8/-1;
}
.portfolio-item:nth-child(3) {
  grid-column: 1/span 5;
}
.portfolio-item:last-child {
  grid-column: 6/-1;
}
.portfolio-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 50px 30px;
}
@media screen and (max-width: 767.98px) {
  .portfolio {
    padding: 50px 0;
  }
  .portfolio-heading {
    margin-bottom: 40px;
  }
  .portfolio-list {
    gap: 30px 15px;
  }
  .portfolio-item {
    gap: 15px;
    font-size: 16px;
  }
}

.cta {
  padding: 106px 0;
  background-color: #f7f5f1;
  position: relative;
}
.cta-shapes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  user-select: none;
}
.cta-heading {
  text-align: center;
  max-width: 870px;
  margin: 0 auto 30px;
}
.cta-caption {
  text-align: center;
  margin-bottom: 65px;
}
.cta-link {
  display: block;
  padding: 18px 32px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767.98px) {
  .cta {
    padding: 80px 0;
  }
  .cta-caption {
    margin-bottom: 25px;
  }
}

.footer {
  background-color: #292f3a;
  color: white;
}
.footer-top {
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr) 3fr;
  grid-gap: 60px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  border-top: 1px solid rgba(123, 136, 168, 0.3);
}
.footer-s {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-s-item {
  background-color: #4f77ff;
  width: 52px;
  height: 52px;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.footer-heading {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-link {
  color: inherit;
  text-transform: uppercase;
}
.footer-newsletter-desc {
  margin-bottom: 25px;
}
.footer-newsletter-form {
  display: flex;
  gap: 6px;
  height: 48px;
  width: 100%;
  margin: 20px 0;
}
.footer-newsletter-input {
  all: unset;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  padding: 0 18px;
  color: #7b88a8;
  flex: 1;
}
.footer-newsletter-button {
  flex-shrink: 0;
  padding: 0 24px;
}
.footer-newsletter-wraning {
  margin-top: 15px;
}
@media screen and (max-width: 1023.98px) {
  .footer-top {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 867.98px) {
  .footer-top {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767.98px) {
  .footer-top {
    padding-bottom: 50px;
  }
  .footer-bottom {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}
@media screen and (max-width: 467.98px) {
  .footer-top {
    grid-template-columns: 1fr;
  }
  .footer-newsletter-form {
    margin: 30px 0;
  }
  .footer-newsletter-wraning {
    text-align: center;
  }
  .footer-s-item {
    width: 42px;
    height: 42px;
  }
}

/*# sourceMappingURL=app.css.map */
